* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.container, .container1, .container2, .container3, .container4{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    
    }

    .container {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.1fr 1.6fr 2fr 1fr 1fr;
        grid-template-rows: 0.6fr 1.4fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;

    }
    
    
    .video { grid-area: 1 / 1 / 5 / 11; }
    
    .foto { grid-area: 1 / 8 / 5 / 11; }
    
    .header { grid-area: 1 / 1 / 2 / 11; }
    
    .servicios { grid-area: 3 / 2 / 4 / 7; }




/*navbar*/
.header {
    position: relative;
    overflow: hidden;
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: rgba(59, 57, 57, 0.397); 
    z-index: 100;
}

.video-effect video{
height: 900px;
}


.foto-imprenta img{
height: 900px;
display: block;
max-width: 100%;
width: 100%; 
margin: 0 auto;
}



.servicios{
    margin-left: 15%;
    width: 100%;
    height: 100px;
    margin-top: 13%;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.serviciosahora img{
    width: 50%;
    margin-top: 0px !important;
    animation: fadeIn 3s ease forwards
}



.navbar-container {
    overflow: hidden;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-logo img {
    overflow: hidden;
    height: 60px;
    margin-left:15%;
    object-fit: contain;
}

.navbar-menu {
    overflow: hidden;
    height: 30px;
    color: white;
    margin-right: 2%;
    object-fit: contain;
}


.container2 {
height: 1000px;
margin-top: -685px !important;
display: flex;
    background-color: rgb(255, 255, 255); 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.8fr 0.5fr 0.7fr;
    grid-template-rows: 0.5fr 1.5fr 1fr 1fr 1fr 1.6fr 0.4fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.contenedorb { grid-area: 1 / 1 / 8 / 13; }

.barra1 { grid-area: 1 / 12 / 8 / 13; }

.imagenes1 { grid-area: 2 / 8 / 7 / 11; }

.texto1 { grid-area: 2 / 2 / 6 / 7; }


.contenedorb{
    display: flex;
    position: relative;
    
    width: 100%;
    margin: 0;
    top: 0;
    overflow: hidden;
}

.linearoja img{
    left: 30%;
    top: 70px;
    z-index: 1;
    position: relative;
    width: 1350px;
    animation: fadeIn 6s ease forwards
}



@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

.imagenes1{

    width: 100%;
    position: relative;
    display: flex;
    margin-top: -80px;
    left: -200%;
}



.pic-ctn {
    width: 100vw;
    height: 200px;
}

@keyframes display {
    0% {
    transform: translateX(200px);
    opacity: 0;
    }
    10% {
    transform: translateX(0);
    opacity: 1;
    }
    20% {
    transform: translateX(0);
    opacity: 1;
    }
    30% {
    transform: translateX(-200px);
    opacity: 0;
    }
    100% {
    transform: translateX(-200px);
    opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 15vh;
}

.pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}
img:nth-child(3) {
    animation-delay: 4s;
}
img:nth-child(4) {
    animation-delay: 6s;
}
img:nth-child(5) {
    animation-delay: 8s;
}

.texto1{
    width: 200%;
    color: #700611;
    margin-left: -240% !important;
    margin-top: 20%;
    font-size: 40px;
    font-family: sans-serif;
    animation: fadeIn 6s ease forwards
}

#jorged {
    font-size: 20px;
}

.barra1{
    background-color: #fff;
    position: relative;
    left: 0;
    width: 100%;
    height: 1000px;
    border: 2px solid #700611;
    transition: all 0.3s ease;
}

.fixed {
    position: fixed;
    top: 15.0%;
    left: 96%;
    width: 4%;
    z-index: 999;
    height: 1080px;
}


.wpp img{
width: 80%;  
position: relative;
display: flex;
top: 900px;
left: 10%;
}

.linearoja2{
    width: 100%;
    position: relative;
    display: flex;
}

.linearoja2{
    top:815px;
    left: 5%;
}

.flecha{
width: 100%;
position: relative;
display: flex;
top: 730px;
left: 12%;
}

.flecha img{
    width: 65px;
}

.cruzroja{
    width: 100%;
    position: relative;
    display: flex;
    top: 50px;
    left: 10px;
}

.cruzbold img{
    width: 40px;
}


.ubicacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -0px !important;
    
}

.ubicacion img {
    transform: rotate(-90deg);
    width: 80px;
    margin-left: 20% !important;
    
}
.container3 { 
    width: 100%;
    height: 1200px;
    background-color: #700611;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . . . . . ."
    "realizamos realizamos realizamos . texto-siempre texto-siempre texto-siempre texto-siempre"
    "realizamos realizamos realizamos . . . . ."
    ". . . . . . . ."
    "cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext"
    "cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext"
    "cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext"
    "cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext cuadrotext";
}

.realizamos { grid-area: realizamos; }

.texto-siempre { grid-area: texto-siempre; }

.cuadrotext { grid-area: cuadrotext; }


.lineablanca{
    width: 100%;
    margin-top: 5%;
    position: relative;
    left: 20%;
    animation: fadeIn 6s ease forwards
}


.realizamos{
    width: 54%;
    display: flex;
    margin-left: 18%;
    animation: fadeIn 6s ease forwards
}

.realizamos img{
    display: flex;
    width: 50%;
    height: 250px;
    margin-top: 5%;
}

.texto-siempre{
    color: #fff;
    width: 240%;
    display: flex;
    position: relative;
    font-size: 24px;
    margin-left: -200%;
    font-family: sans-serif;
    margin-top: 15%;

}


.cuadrotext {
    width: 100%;
    color: #fff;
    margin-left: 15%;
    margin-top: 3%;
    display: flex;
    font-size: 20px;
    font-family: sans-serif;
}

.grupo-titulo {
    margin-right: 100px;
    
}



.grupo-titulo a#titulo1,
.grupo-titulo a#titulo2,
.grupo-titulo a#titulo3,
.grupo-titulo a#titulo4,
.grupo-titulo a#titulo5 {
font-weight: bold;
    text-decoration: underline;
    font-size: 25px;
}

.lineavert{
    width: 1%;
    height: 500px;
    position: relative;
    margin-left: -2%;
    display: flex;
}

.lineavert img{
    width: 1px;
    display: flex;
}


.container4 { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.3fr 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". contacta contacta contacta contacta contacta contacta ."
    ". formulario formulario formulario formulario formulario formulario ."
    ". formulario formulario formulario formulario formulario formulario ."
    ". formulario formulario formulario formulario formulario formulario ."
    ". formulario formulario formulario formulario formulario formulario ."
    "siguenos siguenos siguenos siguenos siguenos siguenos siguenos siguenos"
    "siguenos siguenos siguenos siguenos siguenos siguenos siguenos siguenos"
". . . . . . . .";
}

.formulario { grid-area: formulario; }

.contacta { grid-area: contacta; }

.siguenos { grid-area: siguenos; }



.containerform {
    max-width: 500px; 
    margin: 0 auto; 
    margin-left: 45%;
    margin-top: 12%;
    
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"] {
    top: 80px;
    width: 110%;
    padding: 10px;
    position: relative;
    left: -482px; 
    border-bottom: 1px solid #700611;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
    }

input[type="email"] {
    border-bottom: 1px solid #700611;
    width: 110%;
    padding: 10px;
    position: relative;
    top: 25px;
    left: 200px !important;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
}

input[type="tel"] {
    border-bottom: 1px solid #700611;
    position: relative;
    width: 110%;
    padding: 10px;
    border-radius: 4px;
    top: 100px !important;
    left: -97%;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
}

input[type="tel"], [type="email"], [type="text"]:focus {
    border-color: #700611; 
    outline: none; 
}


#message {
    border-bottom: 1px solid #700611;
    border-color: #700611;
    position: relative;
    width: 248%;
    height: 500px;
    padding: 10px;
    border-radius: 4px;
    top: 150px !important;
    left: -97%;
    
}

#message:focus {
    border-color: 1px  #700611; 
    outline: none; 
}

input[type="checkbox"] {
    border-bottom: 1px solid #700611;
    position: relative;
    width: 120%;
    padding: 10px;
    border-radius: 4px;
    top: 150px !important;
    left: -155%;
    color: #700611;
}

.form-group label{
    position: relative;
    width: 120%;
    padding: 10px;
    border-radius: 4px;
    top: 130px !important;
    left: -90%;
    font-family: sans-serif;
    color: #700611;
}

#submit-btn {
    background-color: #700611;
    color: #ffffff;
    position: relative;
    width: 30%;
    padding: 10px;
    border-radius: 4px;
    top: 100px !important;
    left: 120%;
    transition: transform 0.3s ease;
}

#submit-btn:hover {
    transform: scale(1.2);
}



.contacta{
display: flex;
font-family: sans-serif;
font-size: 70px;
position: relative;
width: 180%;
height: 250px;
top: 50%;
left: 20%;
}

.contacta-nosotros a {
    color: #700611; 
    font-family: sans-serif;
}

.contacta-nosotros #contacta{
    font-weight: bold;
}
.contacta-nosotros #pidenos{
margin-left:240px;
font-size: 60px;
}
.contacta-nosotros #presupuesto{
    font-size: 60px;
}




.síguenos{
    left: 0;
    top:1900px;
    position:relative;
    width: 830%;
    height: 350px;
    background-color: #700611;
    
    
}



#texseguinos{
    display: flex;
    left: 20%;
    position: relative;
    width: 14%;
    height: 190px; 
    top: 50px;
}

#instagram, #wpp, #facebook{

    left: 15%;
    position: relative;
    margin-bottom: 10px;
    top: -155px;
}
#lineavert{

    left: 45%;
    position: relative;
    margin-bottom: 10px;
    top: -400px;
}
#pedrocosio{
    
    left: 48%;
    position: relative;
    margin-bottom: 10px;
    top: -490px;
}

#celu1{

    left: 65%;
    position: relative;
    margin-bottom: 10px;
    top: -550px;
}

#diseñado{
    width: 100%;
    top: -490px;
    position: relative;
}